.Portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 600px;
  background: #1a1a1a;
  z-index: 1px;
  background-image: url(./assets/portfoliobg.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.32);
  padding-top: 80px;
}

.header > p {
  margin: 0;
  width: 404px;
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-font-color);
}

.header {
  width: 482px;
  height: 107px;
  border: 8px solid #000000;
  font-family: "Montserrat", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 38.37px;
  letter-spacing: 0.3554em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: 80px;
}

.box {
  width: 149px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #aaaaaa;
}

.indicatorline {
  width: 221px;
  border: 1px solid #ffffff;
  position: relative;
  top: 79.5px;
  z-index: 1;
}

.projectgrid {
  z-index: -1px;
  box-sizing: border-box;
  padding-top: 120px;
  background: #1a1a1a;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  max-width: 1920px;
}
.image-container{
  width: 640px;
  height: 400px;
  transition: 0.5ms ease-in-out;
}

.image-container img:hover{
  opacity: 0.6;
  cursor: pointer;
}

.image-container > img {
  width: 640px;
  height: 400px;
  display: inline-block;
  position: relative;
  object-fit:cover;
}

.hover-text {
  position: relative;
  top: -225px;
  width: fit-content;
  left: 260px;
  right:0;
  bottom:0;
  text-shadow: 0 0 4px #1a1a1a;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  font-family: "Montserrat", serif;
  z-index: 1;
}


.filterbar {
  background: #1a1a1a;
  display: flex;
  flex-direction: row;
  gap: 34px;
  max-height: 112px;
  max-width: none;
  font-family: "Montserrat", serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 17.07px;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 587px;
  height: 48px;
  position: relative;
  top: 80px;
  z-index: 1;
}


.portfoliofooter {
  background: #1a1a1a;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 68px;
  font-family: "Montserrat", serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.38px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
