.Contact {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 800px;
  justify-content: center;
  align-items: center;
}

.header {
  width: 404px;
  height: 107px;
  border: 8px solid #000000;
  font-family: "Montserrat", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 38.37px;
  letter-spacing: 0.3554em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.header > p {
  width: 367px;
  height: 74px;
  margin: 0;
}

.contactinfo > p {
  width: 763px;
  height: 72px;
  font-family: "Open Sans", serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20.8px;
  text-align: center;
  color: var(--primary-font-color);
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputfields {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  top: 100px;
  gap: 60px;
}

input {
  background: none;
  border: none;
  height: 48px;
  width: 608px;
  padding-left: 10px;
  color: #8b8b8b;
  font-family: "Montserrat", serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 17.07px;
  letter-spacing: 0.04em;
  text-align: left;
  border-left: 5px solid black;
  border-bottom: 5px solid black;
}

.inputmessage {
  background: none;
  border: none;
  resize: none;
  width: 608px;
  padding-top: 10px;
  padding-left: 10px;
  color: #8b8b8b;
  font-family: "Montserrat", serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 17.07px;
  letter-spacing: 0.04em;
  text-align: left;
  border-left: 5px solid black;
  border-bottom: 5px solid black;
  height: 184px;
}

.btn.submit {
  position: relative;
  top: 180px;
  width: 197px;
  height: 45px;
  font-family: "Montserrat", serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
  letter-spacing: 0.1em;
  border-left: 3px solid black;
  border-right: 3px solid black;
  text-align: center;
  color: var(--primary-font-color);
  cursor: pointer;
}
