.Navbar {
  display: flex;
  flex-direction: row;
  width: 46.2vw;
  height: 4.26vh;
  align-items: center;
  position: relative;
  gap: 1.8vw;
  top: 6.02vh;
  left: 52vw;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
}
.menuIcon{
  display: none;
}
.Navbar.sticky {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 6.94vh;
  width: 100vw;
  max-height: none;
  max-width: none;
  z-index: 1000;
  background-color: black;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 4.17vw;
  padding-right: 5.21vw;
  box-sizing: border-box;
}

button {
  font-family: "Montserrat", serif;
  background: none;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  color: var(--secondary-font-color);
  justify-content: center;
}
.btn > button {
  width: 8.66vw;
  height: 4.26vh;
  font-size: 0.89vw;
  font-weight: 700;
  line-height: 1.92vh;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.contactme > button {
  background-color: var(--secondary-font-color);
  color: var(--primary-font-color);
  font-size: 0.78vw;
  font-weight: 700;
  line-height: 1.69vh;
  width: 7.66vw;
  height: 4.26vh;
  border-radius: 1.56vw;
  border: 0.21vw;
}

.dropdown > select{
  font-family: "Montserrat", serif;
  background-color: var(--secondary-font-color);
  color: var(--primary-font-color);
  font-size: 0.78vw;
  font-weight: 700;
  line-height: 1.69vh;
  width: 4.8vw;
  height: 4.26vh;
  border-radius: 1.56vw;
  border: 0.21vw;
  text-align: center;
  cursor: pointer;
}
.closeIcon{
  display: none;
}
@media (max-width: 430px) {
  .btn{
    display: none;
  }
 
  .menuIcon{
    display: contents;
  }
  .Navbar{
    top: 0;
    left: 0;
    background-color: var(--primary-font-color);
    width: 100vw;
    height: auto;
    align-items:center ;
    padding: 20px;
    justify-content: flex-end;
    transition: all 0.3s ease-in-out;
   position: absolute;
  }
  .Navbar.mobileMenu{
    background-color: rgba(0, 0, 0, 0.5);
   flex-direction: column;
   align-items: center;
   padding: 0;
   height: auto;
   z-index: 2;
 
  }
  .Navbar.mobileMenu div{
display: contents;
  }
  .Navbar.mobileMenu > .menuIcon{
display: none;
  }
  .Navbar.mobileMenu > .closeIcon{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    border-bottom: 1px solid #FFFFFF
  }
  .btn > button {
    height: 8vh;
    font-size: x-small;
    font-weight: 600;
    width: auto;
  }
  .contactme > button {
    width: 100%;
    z-index: 3;
    border-radius: 0px;
  }
  .dropdown > select{
    width: 100%;
    border-radius: 0px;
    font-size: xx-small;
    height: 4.26vh;
  }
}