.Navbar {
  display: flex;
  flex-direction: row;
  width: 46.2vw;
  height: 4.26vh;
  align-items: center;
  position: relative;
  gap: 1.8vw;
  top: 6.02vh;
  left: 52vw;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
}

.menuIcon {
  display: none;
}

.closeIcon {
  display: none;
}

.Navbar.sticky {
  position: fixed;
  top: 0px;
  left: 0px;
  height: auto;
  width: 100vw;
  max-height: none;
  max-width: none;
  z-index: 1000;
  background-color: black;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 5.21vw;
  box-sizing: border-box;
}

button {
  font-family: "Montserrat", serif;
  background: none;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  color: var(--secondary-font-color);
  justify-content: center;
}
.btn > button {
  width: 8.66vw;
  height: 4.26vh;
  font-size: 0.89vw;
  font-weight: 700;
  line-height: 1.92vh;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.contactme > button {
  background-color: var(--secondary-font-color);
  color: var(--primary-font-color);
  font-size: 0.78vw;
  font-weight: 700;
  line-height: 1.69vh;
  width: 7.66vw;
  height: 4.26vh;
  border-radius: 1.56vw;
  border: 0.21vw;
}

.dropdown > select {
  font-family: "Montserrat", serif;
  background-color: var(--secondary-font-color);
  color: var(--primary-font-color);
  font-size: 0.7vw;
  font-weight: 700;
  line-height: 1.69vh;
  width: 6vw;
  height: 4.26vh;
  border-radius: 1.5vw;
  border: 0.21vw;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 430px) {
  .Navbar {
    top: 0;
    left: 0;
    background-color: var(--primary-font-color);
    width: 100vw;
    height: 8vh;
    align-items: center;
    padding: 20px;
    justify-content: flex-end;
    transition: 0.3s ease-in-out;
    position: sticky;
  }
  .btn > button {
    padding: 0;
    font-size: 2.5vw;
    font-weight: 400;
    border-radius: 0;
    height: 6vh;
    width: 100vw;
  }
  .menuIcon {
    display: contents;
    background-color: black;
    height: auto;
  }
  .btn {
    display: none;
  }
  .Navbar.showMenu {
    top: 0;
    left: 0;
    width: 100vw;
    justify-content: space-between;
    flex-direction: column;
    height: auto;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0;
  }
  .Navbar.sticky.showMenu {
    position: fixed;
  }
  .showMenu > .btn {
    background-color: black;
    display: contents;
  }
  .showMenu > .menuIcon {
    background-color: black;
    display: none;
  }
  .showMenu > .closeIcon {
    display: contents;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    height: auto;
    border-bottom: 1px solid #ffffff;
    background-color: black;
  }
  .dropdown > select {
    height: 6vh;
    width: 100vw;
    border-radius: 0;
    font-size: 2.5vw;
    font-weight: 500;
  }
}
