.Aboutme {
  position: relative;
  height: 1007px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header > p {
  margin: 0;
  width: 404px;
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-font-color);
}

.header {
  width: 404px;
  height: 107px;
  border: 8px solid #000000;
  font-family: "Montserrat", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 38.37px;
  letter-spacing: 0.3554em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.infoaboutme {
  position: relative;
  top: 40px;
  width: 763px;
  height: 47px;
  font-family: "Open Sans", serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20.8px;
  text-align: center;
  color: var(--primary-font-color);
}

.explore {
  width: 139px;
  height: 32px;
  position: relative;
  top: 157px;
  font-family: "Montserrat", serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 18.29px;
  text-align: center;
  color: var(--primary-font-color);
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.separator1 {
  position: relative;
  top: 250px;
}

.services {
  position: relative;
  top: 308px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-font-color);
  gap: 60px;
}

.designanddevelopment {
  display: flex;
  flex-direction: row;
  gap: 67px;
}

.design {
  width: 516px;
  height: 177px;
  display: flex;
  flex-direction: column;
}

.design > img {
  width: 61px;
  height: 64px;
  display: flex;
  position: relative;
  top: 45px;
  left: 45px;
}

.design > .title {
  width: 277px;
  height: 74px;
  font-family: "Montserrat", serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.82px;
  letter-spacing: 0.1854em;
  text-align: center;
}

.design > .info {
  width: 431px;
  height: 104px;
  font-family: "Open Sans", serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 19.07px;
  text-align: justify;
  position: relative;
  top: 10px;
  left: 80px;
}

.development {
  width: 483px;
  height: 178px;
  display: flex;
  flex-direction: column;
}

.development > img {
  width: 68.94px;
  height: 70px;
  display: flex;
  position: relative;
  top: 45px;
  left: -5px;
}

.development > .title {
  width: 277px;
  height: 74px;
  font-family: "Montserrat", serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.82px;
  letter-spacing: 0.1854em;
  text-align: center;
}

.development > .info {
  width: 431px;
  height: 104px;
  font-family: "Open Sans", serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 19.07px;
  text-align: justify;
  position: relative;
  top: 10px;
  left: 25px;
}

.maintenance {
  width: 487px;
  height: 182px;
  display: flex;
  flex-direction: column;
}

.maintenance > img {
  width: 80.21px;
  height: 64px;
  display: flex;
  position: relative;
  top: 35px;
  left: -30px;
}

.maintenance > .title {
  width: 277px;
  height: 74px;
  font-family: "Montserrat", serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.82px;
  letter-spacing: 0.1854em;
  text-align: center;
}

.maintenance > .info {
  width: 422px;
  height: 104px;
  font-family: "Open Sans", serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 19.07px;
  text-align: justify;
  position: relative;
  left: 30px;
}

.separator2 {
  position: relative;
  top: 400px;
}

.Skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 400px;
  gap: 30px;
}

.skills > .header {
  width: 404px;
  height: 107px;
  font-family: "Montserrat", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 38.37px;
  letter-spacing: 0.3554em;
  text-align: center;
}

.skillsused {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.usingnow {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.usingnow > p {
  font-family: "Montserrat", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36.57px;
  letter-spacing: 0.1854em;
  text-align: left;
  color: var(--primary-font-color);
}

.usinglist {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 125px;
  justify-items: center;
  align-items: center;
}

.learning {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding-bottom: 100px;
}

.learning > p {
  font-family: "Montserrat", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36.57px;
  letter-spacing: 0.1854em;
  text-align: left;
  color: var(--primary-font-color);
}

.learninglist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, auto);
  gap: 125px;
  justify-items: center;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 17px;
}

.logo > p {
  font-family: "Montserrat", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.26px;
  letter-spacing: 0.1354em;
  text-align: center;
  color: var(--primary-font-color);
}
